// Variablen
// =============================================================================
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1300px;
$xxl: 1440px;

$breakpoints: (
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
  'xxl': $xxl
);

// MIXINS
// =============================================================================

@mixin min-breakpoint($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  
  @if $breakpoint-value {
    @media only screen and (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint-name}' wurde nicht gefunden.";
  }
}

@mixin max-breakpoint($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  
  @if $breakpoint-value {
    @media only screen and (max-width: ($breakpoint-value - 0.02px)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint-name}' wurde nicht gefunden.";
  }
}

@mixin between-breakpoints($min-breakpoint, $max-breakpoint) {
  $min-value: map-get($breakpoints, $min-breakpoint);
  $max-value: map-get($breakpoints, $max-breakpoint);
  
  @if $min-value and $max-value {
    @media only screen and (min-width: $min-value) and (max-width: ($max-value - 0.02px)) {
      @content;
    }
  } @else {
    @error "Ein oder beide Breakpoints wurden nicht gefunden.";
  }
}

@mixin responsive-property($property, $default-value, $breakpoint-values: ()) {
  #{$property}: $default-value#{if($important, " !important", "")};
  
  @each $breakpoint-name, $value in $breakpoint-values {
    @include min-breakpoint($breakpoint-name) {
      #{$property}: $value#{if($important, " !important", "")};
    }
  }
}

@mixin hide-on($breakpoint-name) {
  @include min-breakpoint($breakpoint-name) {
    display: none !important;
  }
}

@mixin show-only-on($breakpoint-name) {
  display: none !important;
  
  @include min-breakpoint($breakpoint-name) {
    display: initial !important;
  }
}

// DEBUG
// =============================================================================

@mixin breakpoint-debug {
  body::before {
    content: "default (xs)";
    position: fixed;
    top: 24px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 0.5rem;
    z-index: 9999;
    font-family: monospace;
    font-size: 12px;
    
    @include min-breakpoint('sm') { content: 'screen SM'; }
    @include min-breakpoint('md') { content: 'screen MD'; }
    @include min-breakpoint('lg') { content: 'screen LG'; }
    @include min-breakpoint('xl') { content: 'screen XL'; }
    @include min-breakpoint('xxl') { content: 'screen XXL'; }
  }
}

@include breakpoint-debug;